.body_wrapper {
    margin: auto;
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 20px;
}

.header {
    margin: auto;
    margin-bottom: 20px;
}


.aside{
    // padding: 10px;
    min-width: 300px;
    // border: solid blue;
  }
  .main_p{
    margin-top: 60px;
    // padding: 10px;
    width: 1190px;
    // border: solid;
  }
  

.filter{
    margin-top: 39px;
    width: 100%;
    background-color: #D5F8CF;
    
    h4{
        font-family: "Hammersmith One", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #0BA42D;
    }
    select{
        font-family: "Hammersmith One", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        background-color: #D5F8CF;
        color: #0BA42D;
        border: none;
        
    }
}